{{> header  }}

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        {{> sidebar }}

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                {{> navbar }}

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-4 text-gray-800">Create a password <i class="fas fa-pen"></i></h1>
                    {{#if message}}
                    <div class="col-lg-5 mb-4">
                        <div class="card bg-{{color}} text-white shadow">
                            <div class="card-body ">
                                <h5 class="mb-0"><i class="fas fa-{{icon}}"></i> {{message}}</h5>
                            </div>
                        </div>
                    </div>
                    {{/if}}
                    <div class="row">
                        <div class="col-xl-7">

                            <form action="/create" method="post">
                                <div class="form-group">
                                    <label for="domain">Domain</label>
                                    <input type="text" name="domain" class="form-control form-control-user"
                                        id="createdomain" aria-describedby="domainHelp"
                                        placeholder="Enter Web Address...">
                                </div>
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" name="email" class="form-control form-control-user"
                                        id="createEmail" aria-describedby="emailHelp"
                                        placeholder="Enter Email Address...">
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password" name="password" class="form-control form-control-user"
                                        id="createPassword" aria-describedby="domainHelp"
                                        placeholder="Enter Password..." minlength="8">
                                </div>

                                <button type="submit" class="btn btn-primary">Create</button>
                            </form>
                        </div>

                    </div>


                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2019</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    {{> scripts }}

</body>

</html>